<div class="main-header">
  <div class="logo-header">
    <a href="index.html" class="logo">
      Visits Routes
    </a>
  </div>
  <nav class="navbar navbar-header navbar-expand-lg">
    <div class="container-fluid">

      <form class="navbar-left navbar-form nav-search mr-md-3" action="">
        <div class="input-group">
          <input type="text" placeholder="Search ..." class="form-control">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="la la-search search-icon"></i>
            </span>
          </div>
        </div>
      </form>
      <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
      </ul>
    </div>
  </nav>
</div>