<div class="sidebar">
  <div class="scroll-wrapper scrollbar-inner sidebar-wrapper" style="position: relative;">
    <div class="scrollbar-inner sidebar-wrapper scroll-content scroll-scrolly_visible"
      style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 205px;">
      <ul class="nav">
        <li class="nav-item active">
          <a [routerLink]="['/']">
            <i class="la la-dashboard"></i>
            <p>Dashboard</p>
            <span class="badge badge-count">5</span>
          </a>
        </li>
        <li class="nav-item active">
          <a [routerLink]="['/visits']" >
            <i class="la la-map-marker"></i>
            <p>Visits</p>
            <span class="badge badge-count">5</span>
          </a>
        </li>
        <li class="nav-item active">
            <a [routerLink]="['/employee']">
              <i class="la la la-users"></i>
              <p>Employees</p>
              <span class="badge badge-count">5</span>
            </a>
        </li>
      </ul>
    </div>
    <div class="scroll-element scroll-x scroll-scrolly_visible">
      <div class="scroll-element_outer">
        <div class="scroll-element_size"></div>
        <div class="scroll-element_track"></div>
        <div class="scroll-bar" style="width: 88px;"></div>
      </div>
    </div>
    <div class="scroll-element scroll-y scroll-scrolly_visible">
      <div class="scroll-element_outer">
        <div class="scroll-element_size"></div>
        <div class="scroll-element_track"></div>
        <div class="scroll-bar" style="height: 59px; top: 0px;"></div>
      </div>
    </div>
  </div>
</div>
